/*LAYOUT*/
* {
  box-sizing: border-box !important;
}

div#logo {
  width: 80%;
  vertical-align: top;
  margin-left: 2%;
  font-family: 'Times New Roman', Times, serif;
}

nav#menu {
  vertical-align: top;
  margin-top: 1%;
  display: inline-block; 
  font-family: 'Times New Roman', Times, serif;
  font-style: normal;
  z-index: 999;
  position: relative;
  overflow: hidden;
  flex-wrap: wrap;
  background-color: rgba(255, 255, 255, 0); 
  width: 96%;
}

#menu .row {
  display: flex; /* Use flexbox layout */
}

img {
  border: none;
  display: block;
  margin-top: 0;
  margin-bottom: 0;
  border-bottom: none;
}

.image-container {
  position: relative;
  display: flex;
  width: 100%;
  left: 0;
  flex-wrap: wrap; 
  justify-content: flex-start;
  margin-left: 2%;
  margin-top: 2%; 
  z-index: 1; 
}

.image-container2 {
  position: relative;
  display: flex;
  width: 100%;
  left: 0;
  flex-wrap: wrap; 
  justify-content: flex-start;
  margin-left: 0;
  margin-top: 5%; 
  z-index: 1; 
}

.image-box {
  flex: 1;
  margin-right: 5%;
}

.image-box img {
  width: 100%;
  max-width: 100%; 
  height: auto;
  margin-bottom: 2%;
}

.image-box div {
  margin-bottom: 3%; /* Adjust the spacing between the text and the image */
}

header, nav {
  position: relative;
  width: 100%;
  background-color: rgba(255, 255, 255, 0); 
  z-index: 1000;
}

header {
  position: relative;
  top: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0); 
  z-index: 1000;
}

footer {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0);
  margin-left: 0; 
  margin-top: 5%;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-end; 
  margin-bottom: 2%;
}

.left-section {
  margin: 0;
}

.left-section p {
  margin: 0;
}

/*STYLE FOR PROJECT PAGES*/

.fixed-header {
  position: fixed;
  width: 80%;
  top: 0;
  background-color: rgba(255, 255, 255, 0); 
  z-index: 1000;
}

.fixed-footer {
  position: fixed;
  bottom: 2%;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0);
  z-index: 1000;
  margin-left: 2%; 
  margin-top: 10%;
}

nav#fixed-menu {
  position: fixed;
  top: 5%; 
  bottom: 0;
  vertical-align: top;
  margin-top: 0.5%;
  display: inline-block; 
  font-family: 'Times New Roman', Times, serif;
  font-style: normal;
  z-index: 999;
  overflow: hidden;
  flex-wrap: wrap;
  background-color: rgba(255, 255, 255, 0); 
  width: 100%;
}

.article-menumodule{
  position: relative;
  display: flex;
  width: 100%;
  left: 0;
  flex-direction: column;
  flex-wrap: wrap; 
  justify-content: space-between;
  margin-left: 0;
  margin-top: 0; 
  z-index: 1; 
}

.article-menumodule2{
  position: relative;
  display: flex;
  width: 100%;
  left: 0;
  flex-wrap: wrap; 
  justify-content: space-between;
  margin-left: 0;
  margin-top: 0; 
  z-index: 1; 
}

.content-box {
  flex: 1;
  box-sizing: border-box;
  margin-right: 5%;
}

.content-box:first-child {
  flex-basis: 60%;
}

.content-box:last-child {
  flex-basis: 30%;
}

.content div {
  margin-bottom: 3%; /* Adjust the spacing between the text and the image */
}

.table-container {
  position: fixed;
  bottom: 15%;
  width: 50%;
}

a:visited, a:link {
  color: black;
  text-decoration: none; 
  border-bottom: 1px solid black;
}


.article-page {
  margin-right: 0;
  position: relative;
  z-index: 2000;
  max-width: 100%;
  width: 100%;
  justify-content: center; 
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  text-align: right;
}

.article-page a {
  display: block;
  margin: 0;
  border: 0.8px solid transparent;
  position:relative
}

.article-page img {
  max-width: 100%;
  height: auto;
}

.article-page a:hover img {
  border: 0.8px solid rgb(0, 71, 249) !important;
}

.image-row {
  display: flex;
  margin-top: 5%;
}

.smaller-box {
  flex-basis: calc(50% - 1%); /* Adjust margin as needed */
  display: inline-block;
}

.smaller-box img {
  width: 100%;
  height: auto;
}

.smaller-box:last-child {
  margin-right: 0 ;
}

/*ADJUSTING TO SMALLER WINDOW*/
@media only screen and (max-width: 850px){
@media only screen and (max-width: 850px){
  .menumodule,
  .image-container,
  .image-container2,
  .article-menumodule,
  .content-box {
    margin-left: 0.3%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }
  
  .footer-content {
    margin-left: 2% !important;
  }

  .image-container img,
  .image-container2 img,
  .content-box img {
    width: 100%;
    align-items: center;
  }

  .image-container2,
  .footer-content {
    margin-top: 5%; 
  }

  .image-box {
    width: 100%;
    margin-top: 5%; 
  }

  .content-box {
    flex-basis: 90%;
  }

  .image-box img {
    width: 100%;
  }

  .menumodule {
    max-width: 100%;
  }

  .article-page {
    margin-top: 20%;
  }
}

/*HOVER*/
div#logo i:hover,
.image-container a[href]:hover, 
.article-menumodule a[href]:hover
{color: rgb(0, 71, 249);}

nav#menu a[href]:hover
{
  color: rgb(0, 71, 249);
}

.article-page a:hover{
  border-color: rgb(0, 71, 249);
}

.footer-content a:hover,
.fixed-footer a:hover
{
  color: rgb(0, 71, 249);
}

#fixed-menu table a:hover {
  color: rgb(0, 71, 249); 
}

#fixed-menu a[href]:hover {
  color: rgb(0, 71, 249);
}

/*MOVES*/
body {
  overflow-x: hidden;
}

table,
td {
  border: 0;
  text-align: left;
}
  .row {
    display: flex;
    flex-wrap: wrap; 
  }
  
  .menumodule {
    flex: 1 0 auto;
    margin: 0 10px;
    box-sizing: border-box;
  }

    .abstract {
    width: 70%;
    font-family: monospace;
    font-size: 13px;
    flex: 1 0 auto;
    margin: 0 10px;
    box-sizing: border-box;
  }

  .monospace {
  font-family: monospace;
  font-size: 12px;
}

  .monospace_body {
  font-family: monospace;
  font-size: 14px;
}


/*FONTS*/
body, table, td, div {
  font-size: 16px;
  font-family: 'Times New Roman', Times, serif;
  text-align: left;
  vertical-align: top;
}

p {
  line-height: 1.2;
}

.smaller-font {
  font-size: 12px;
}

a.mainlevel_green {
  color: rgb(0, 71, 249);
}

p.green a {
  color: rgb(0, 71, 249);
}

#main a {
  color: black;
}
